/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
}

p {

}

a {

}

/* Колонки */

.row {

}
.col {

}


/* Потом селекторы по классам */

.text-input {

}

.button {
    width: 50%;
    color:white;
    background-color: #554AF0;
    border-radius: 4px;
    padding: 10px;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    width: 100%;
    font-size: 1em;
    border: 1px solid #ddd;
    padding: 8px 10px;
    border-radius: 5px;

}


/* Страничка жанров и тегов */

.genre-first {

}

.genre-second {

}

.genre-third {

}

.genre-fourth {

}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
