/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {
    font-family: Arial;
}

main {
    width: 300px;
    margin: 0px auto;
}

p {
    text-align:left;
    line-height:2em;
}

a {

}

/* Колонки */

.row {
    display: flex;
}
.col {
    flex: auto;
    margin-right: 15px;
    margin-bottom: 15px;
}


/* Потом селекторы по классам */

.text-input {
    width: 100%;
    font-size: 1em;
    border: 1px solid #ddd;
    padding: 8px 10px;
    border-radius: 5px;
}

.button {
    width: 50%;
    color:white;
    background-color: #554AF0;
    border-radius: 4px;
    padding: 10px 1px;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    width: 100%;
    font-size: 1em;
    border: 1px solid #ddd;
    padding: 8px 10px;
    border-radius: 5px;

}


/* Страничка жанров и тегов */

.genre-first {
    width: 100%;
    background-color: #E1F5EA;
    padding: 10px 10px;
    margin: 10px 10px
}

.genre-second {
    width: 80%;
    background-color: #CBEDFF;
    padding: 10px 10px;
    margin: 10px 10px
}

.genre-third {
    width: 40%;
    background-color: #FDF5E6;
    padding: 10px 10px;
    margin: 10px 10px
}

.genre-fourth {
    width: 30%;
    background-color: #EBDCF9;
    padding: 10px 10px;
    margin: 10px 10px
}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {
    width: 100%;
    background-color: #E1F5EA;
    padding: 10px 10px;
    margin-bottom: 10px
}

.box-purple {
    width: 100%;
    background-color: #EBDCF9;
    padding: 10px 10px;
    margin-bottom: 10px;
    margin-top: 30px
}

.text-large {

}

.button-link {
    color:white;
    font-size: 1em;
    border: 1px solid #ddd;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #554AF0;
    text-decoration: none;
    text-align: center;
}
